#!/usr/bin/make -f

%:
	dh $@

# No upstream build system (no Makefile.PL). We just install the module file.
override_dh_auto_configure:
	:

override_dh_auto_build:
	:

override_dh_auto_test:
	:

override_dh_auto_install:
	:
